<%= simple_form_for(@designmodel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
  </div>

  <div class="tools">
    <%= f.simple_fields_for :tools do |t| %>
      <%= render "tool_fields" , f: t %>
    <% end %>
    <div class="links">
      <%= link_to_add_association "Add" , f, :tools  %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
