<p id="notice"><%= notice %></p>

<h1>Designmodels</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @designmodels.each do |designmodel| %>
      <tr>
        <td><%= designmodel.title %></td>
        <td><%= designmodel.description %></td>
          <% for tool in designmodel.tools %>
          <td><%= tool.tool_name %></td>
          <% end %>

        <td><%= link_to 'Show', designmodel %></td>
        <td><%= link_to 'Edit', edit_designmodel_path(designmodel) %></td>
        <td><%= link_to 'Destroy', designmodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Designmodel', new_designmodel_path %>
