<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @designmodel.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @designmodel.description %>
</p>
<% for tool in @designmodel.tools %>
  <p><%= tool.tool_name %></p>
<% end %>
<%= link_to 'Edit', edit_designmodel_path(@designmodel) %> |
<%= link_to 'Back', designmodels_path %>
